/* ====================
   전체 페이지 기본 스타일
   ==================== */
html {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ffffff;
    box-sizing: border-box;
}


body {    
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;

    font-family: sans-serif;
    background-color: #fff6eb;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    margin: 0;
}

#root {
    flex-grow: 1;
    width: 100%;
}

.page-wrapper {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    overflow-y: auto; 
    overflow-x: hidden;
    align-items: center;
    min-height: 100%; 
    height: 80vh
}



/* ====================
   헤더 스타일
   ==================== */
.app-header {
    width: 100%;
    height: 70PX;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* 페이지 맨 위에 고정 */
    top: 0;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
}

.header-left {
    font-size: 2.5em;
    font-weight: bold;
    color: #ff7525;
    font-family: Jua, sans-serif;
}

.header-right {
    display: flex; /* 내부 요소들을 가로로 배치 */
    align-items: center; /* 세로 중앙 정렬 */
    gap: 15px;
    color: #ff7525;
    font-size: 1.7em;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
}

/* 로그아웃 버튼 스타일 */
.header-right .logout-button {
    border: none;
    padding: 5px 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: background-color 0.3s ease;

    background-color: #ffe2d1;
    color: #ff6912;
    font-size: 0.7em;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
}

.logout-button:hover {
    background-color: #ffd2b8;
    color: #ff4800;
}



/* ====================
   main-content-search
   ==================== */

.main-content-search {
    width: 100%;
    box-sizing: border-box;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-section {
    max-width: 900px;
    width: 100%;
    padding-top: 9vh;
    text-align: center;
    box-sizing: border-box;
}

/* container 블록 자체를 수평 중앙 정렬 */
.container {
    /* 이 블록을 중앙에 배치하기 위한 스타일 추가 */
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.main-title {
    font-size: 10em;
    margin-bottom: 30px;
    color: #ff3c00;
    font-weight: bold;
    font-family: Jua, sans-serif;
}

.sub-title {
    font-size: 3em;
    margin-bottom: 100px;
    color: #ff3c00;
    font-weight: bold;
    font-family: Nanum Pen Script, Jua, sans-serif;
}

/* ====================
   search-form
   ==================== */
.search-form {
    display: flex;
    justify-content: center;
    border: 5px solid #ff7525;
    border-radius: 6px; 
    width: 800px; 
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    position: relative;
}


.search-input-group {
    display: flex;
    width: 100%;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    padding-left: 20px;
    font-size: 1.2em;
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
}

.search-button {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0; /* 버튼이 줄어들지 않도록 설정 */
}

.search-button:hover {
    background-color: #ffd95c;
}

.search-button::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    /* SVG 코드 background-image에 설정 */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' \ width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ff5e00' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='7'%3E%3C/circle%3E%3Cline\ x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.search-button:focus,
.logout-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 117, 37, 0.5)
}



/* ====================
   아이템 갤러리 스타일
   ==================== */
.item-gallery {
    margin-top: 50vh;
    margin-bottom: 250px;
    width: 100%;
    max-width: 1100px; /* 갤러리 최대 너비 */

    box-sizing: border-box;
    text-align: center;
    background-color: #ffffffc4;
    border: 3px solid #ff3c00;
    border-radius: 15px;
}

.item-gallery h2 {
    font-size: 3em;
    color: #ff3c00;
    font-family: Jua, sans-serif;
    margin: 30px;
}

.item-gallery h3 {
    font-size: 2em;
    color: #ff3c00;
    margin-top: 40px;
    margin-bottom: 60px;
    font-family: "Noto Sans KR", sans-serif;
}

.item-row {
    background-color: #ff3c00;
    width: 100%;
    text-align: center;
    color: #000;
    height: 3px;
}

.gallery-grid {
    display: grid;
    /* 5개의 동일한 너비를 가지는 컬럼 생성 */
    grid-template-columns: repeat(5, 1fr);
    gap: 25px; /* 아이템 사이의 간격 */
    padding: 0 25px;
    justify-items: center;
    padding-bottom: 50px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 150px; /* 아이템 최대 너비 */
}

.gallery-item:hover {
    opacity: 0.8; /* 호버 시 투명도 조절 */
}


.item-image {
    width: 160px;
    height: 160px;
    border-radius: 25%;
    object-fit: cover;
    border: 3px solid #ffaa90;
    margin-bottom: 5px;
}


.item-title {
    font-size: 1.5em;
    color: #ff3c00;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    word-break: break-word;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 992px) {
    .gallery-grid {
        grid-template-columns: repeat(4, 1fr); /* 화면이 작아지면 4열로 변경 */
        gap: 20px;
    }
    .item-image {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
    .item-image {
        width: 70px;
        height: 70px;
    }
    .item-title {
        font-size: 0.9em;
    }
}

@media (max-width: 576px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .item-image {
        width: 60px;
        height: 60px;
    }
}

/* ====================
   룰렛
   ==================== */
.roulette {
    margin-top: 120px;
    margin-bottom: 300px;
    text-align: center; 
    border: 3px solid #ff3c00;
    background-color: #ffffffc4;
    border-radius: 8px; 
    max-width: 1000px; 
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: Jua, sans-serif;
}

.roulette h2 {
    color: #ff3c00;
    margin-bottom: 50px; 
    font-size: 3em; 
}

.roulette-display {
    min-height: 150px; 
    height: 300px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff3ee; 
    border-radius: 5px;
    font-size: 1.5em;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
}

.roulette-display .displayedText {
    color: #555;
    font-size: 1.5em;
    margin: 5px 0;
}

.roulette-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
}

.final-menu-result {
    font-size: 3em;
    color: #ff6600; 
    font-weight: bold; 
    margin-top: 15px;
}

.roulette-button-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

.roulette-button-area button {
    padding: 12px 25px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
    background-color: #ff7b00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.roulette-button-area button:hover {
    background-color: #ff4800;
}

.roulette-button-area button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

/* ====================
   팝업 스크롤 버튼 스타일
   ==================== */
.scroll-to-gallery-button {
    position: fixed;
    bottom: 110px;
    right: 50px;
    z-index: 999;
    width: 200px;
    background-color: #ffeee4;
    color: rgb(255, 60, 0);
    padding: 8px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    border: 3px solid rgb(255, 81, 0);
}

.scroll-to-roulette-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    width: 200px;
    background-color: #ffeee4;
    color: rgb(255, 60, 0);
    padding: 8px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    border: 3px solid rgb(255, 81, 0);
}

.scroll-to-gallery-button:hover, .scroll-to-roulette-button:hover {
    background-color: #ffaa78; 
    border: 3px solid rgb(255, 81, 0);
    transform: translateY(-2px);
}

.scroll-to-gallery-button:active, .scroll-to-roulette-button:active {
    transform: translateY(1px);
    
}

.scroll-to-gallery-button:focus, .scroll-to-roulette-button:focus {
    outline: none;
}


/* ====================
   사이트 bottom
   ==================== */
.bottonRow {
    background-color: #ff7b00e0;
    width: 100%;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-family: Nanum Gothic, sans-serif;
}
.bottonRow span{
    height: 5px;
}


/* ====================
   로딩창
   ==================== */

.overlay-loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 너비 전체 */
    height: 100%; /* 높이 전체 */
    background-color: rgba(0, 0, 0, 0.253); /* 반투명 검은색 배경 (색상 및 투명도 조절 가능) */
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}



.loading-box-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    pointer-events: none; 
}

/* 로딩 박스 스타일 */
.loading-box {
    background-color: rgb(255, 255, 255); 
    padding: 20px 50px;
    padding-bottom: 30px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ff5100; 
    font-size: 2em;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    pointer-events: auto; 
}

/* 로딩 스피너 스타일 */
.loading-spinner {
    border: 6px solid rgba(59, 59, 59, 0.116);
    border-top: 6px solid #ff5100;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* 스피너 회전 애니메이션 키프레임 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ====================
   최근 검색어 창
   ==================== */

.recent-searches-dropdown {
    position: absolute; 
    top: calc(100% + 5px); 
    left: 0;
    width: 100%; 
    background-color: white;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10; 
    max-height: 240px; 
    overflow-y: auto; 
}

.recent-searches-header {
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 제목과 버튼을 양 끝으로 분산 */
    align-items: center; /* 수직 중앙 정렬 */
}

.clear-all-searches-button {
    background: none;
    border: none;
    color: #999;
    font-size: 1em;
    cursor: pointer;
    padding: 0;
    padding-right: 30px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
}

.clear-all-searches-button:hover {
    color: #333;
}

.clear-all-searches-button:focus {
    outline: none;
}

.recent-searches-dropdown ul {
    list-style: none;
    padding: 0 20px; /* 왼쪽 패딩 20px 유지 */
    margin: 0;
}

.recent-searches-dropdown h4 {
    text-align: left;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    padding-left: 20px;
    font-size: 1em;
}

.recent-search-item {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 0; 
    cursor: pointer;
    text-align: left;
    height: 35px;
}

.recent-search-item:hover {
    background-color: #f0f0f0;
}

.search-text {
    flex-grow: 1;
    margin-right: 10px; /* 텍스트와 버튼 사이 간격 */
}

.remove-search-button {
    background: none; /* 배경색 없애기 */
    border: none; /* 테두리 없애기 */
    color: #999; /* 버튼 색상 */
    font-size: 2.5em; /* 'X' 크기 조정 */
    cursor: pointer;
    padding: 0 5px; /* 버튼 내부 패딩 */
    line-height: 1; /* 줄 높이 조정 */
    transition: color 0.2s ease; /* 색상 전환 애니메이션 */
}

.remove-search-button:hover {
     color: #333; /* 호버 시 색상 변경 */
}

/* 필요에 따라 포커스 스타일 제거 */
.remove-search-button:focus {
    outline: none;
}

